<nav class="footer">
    <div class="container d-flex align-items-center">
        <a href="#" class="animeText2 col-lg-2">Ani<span style="color:red;">me</span></a>
        <div class="linkFooter d-flex align-items-center col-lg-6">
            <a href="#" class="linkChild">Homepage</a>
            <a href="#" class="linkChild">Categories</a>
            <a href="#" class="linkChild">Our Blog</a>
            <a href="#" class="linkChild">Contacts</a>
        </div>
        <div class="col-lg-4">
            Group 08 - ©  2020 All Rights Reserved •
        </div>
    </div>
</nav>