.our-blog-body {
  padding: 4rem 0;
  background-color: #0b0c2a;
}

.item {
  padding-left: 0;
  padding-right: 0;
  margin: 8px 0;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.big-item {
  height: 35rem;
}

.small-item {
  height: 18rem;
}

.set-poster {
  position: relative;
  background-size: cover;
  background-position: top center;
}

.text-poster {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
}

.banner-container {
  overflow: hidden;
  position: relative;
}

.img-banner {
  background: url("https://res.cloudinary.com/dk5lunsyj/image/upload/v1606541841/background_yztlnb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
}

.text-banner {
  position: absolute;
  color: white;
  top: 30%;
}

.text-banner h1 {
  font-size: 32px;
  font-weight: 600;
}

.text-banner p {
  font-size: 18px;
}

/* ICON */
.fa-calendar {
  color: #ea4335;
  margin: 0.5rem;
  font-size: 15px;
}
