.footer{
    background-color: #001845;
    background-color: rgb(7, 7, 32);
    
}

*{
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.footer .container {
    position: relative;
    padding: 32px 0;
}

.animeText2{
    display: inline;
    padding-left: 15px;
    font-size: 30px;
}

.linkFooter a{
    padding: 12px 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}