.animeText {
  font-size: 30px;
}


a {
    text-decoration: none;
}

*{
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
}

.linkMain {
  background-color: #070720;
}

.linkMain .d-flex {
  height: 100%;
}

.linkMain .d-flex > a {
  padding: 20px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
}

.linkMain .d-flex .dropdown button {
  padding: 20px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: transparent;
  border: 0;
}

.linkMain__feauture {
  position: relative;
}

#search,
#account {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
}

#account {
  background: #fff;
  padding: 8px 12px;
  width: 200px;
}

#account ul li a {
  font-weight: bold;
}

#account ul li a:hover {
  color: red;
  background-color: transparent;
}

#search input {
  padding: 0 8px;
  border-radius: 24px;
}

#search *,
#account * {
  color: #333;
  font-size: 16px;
  padding: 3px 0;
  line-height: 20px;
  font-weight: 400;
}

.linkMain__feauture a {
  color: #fff;
  font-size: 20px;
}

.linkMain .d-flex .dropdown ul li {
  font-size: 16px;
  padding: 4px 0;
}

.linkChild {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.auTrue{
  display: none;
  text-align: center;
}

.auTrue .user_image{
  width: 70px;
  height: auto;
}

.auTrue #user_name{
  font-weight: 750;
  display: block;
  text-transform: capitalize;
}

.auTrue .nav{
  margin-top: 16px;
  border-top: 1px solid #333
}
