<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="/css/animewatching.css" rel="stylesheet" type="text/css">
    <link href="/css/animedetail.css" rel="stylesheet" type="text/css">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container mainSection">
        <nav class="menuHome">
            <i class="fa fa-home" style="color: #e53637;"></i>
            <a href="#">Home</a>
            <span> > </span>
            <a href="#">Categories</a>
            <span> > </span>
            <a>Romance</a>
            <span> > </span>
            <p style="display: inline; color:#b7b7b7;"><%= animeData.name %></p>
        </nav>
        <div class="videoCenter" style="margin: 45px 0;">
            <video width="100%" controls>
                <source src="https://www.youtube.com/watch?v=y0rTljyiq9w" type="video/mp4">
            </video>
            <div style="margin-top: 30px;">
                <h5 style="margin-bottom: 15px; margin-top: 25px;">LIST NAME</h5>
                <a href="#">Ep 01</a>
                <a href="#">Ep 02</a>
                <a href="#">Ep 03</a>
                <a href="#">Ep 04</a>
                <a href="#">Ep 05</a>
                <a href="#">Ep 06</a>
                <a href="#">Ep 07</a>
                <a href="#">Ep 08</a>
                <a href="#">Ep 09</a>
                <a href="#">Ep 10</a>
                <a href="#">Ep 11</a>
                <a href="#">Ep 12</a>
                <a href="#">Ep 13</a>
                <a href="#">Ep 14</a>
                <a href="#">Ep 15</a>
                <a href="#">Ep 16</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="review">
                    <h5 style="margin-bottom: 20px;">REVIEWS</h5>
                    <div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Chris Curry- <span>1 Hour ago</span></h6>
                            <p>whachikan Just noticed that someone categorized this as belonging to the genre "demons" LOL</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Lewis Mann- <span>5 Hour ago</span></h6>
                            <p>Finally it came out ages ago</p>
                        </div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Louis Tyler- <span>20 Hour ago</span></h6>
                            <p>Where is the episode 15 ? Slow update! Tch</p>
                        </div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Chris Curry- <span>1 Hour ago</span></h6>
                            <p>whachikan Just noticed that someone categorized this as belonging to the genre "demons" LOL</p>
                        </div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Lewis Mann- <span>5 Hour ago</span></h6>
                            <p>Finally it came out ages ago</p>
                        </div>
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                        <div>
                            <h6>Louis Tyler- <span>20 Hour ago</span></h6>
                            <p>Where is the episode 15 ? Slow update! Tch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>