<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/blog.css" rel="stylesheet" type="text/css">
  </head>
  <body class="container-fluid" style="padding: 0;">
    <%- include('../partials/header.ejs') %>
    <section class="banner text-white">
        <div class="banner-container">
            <div class="img-banner"></div>
            <div class="text-banner text-center w-100">
                <h1 class="text-signup-banner font-weight-bold">Welcome to our Blog</h1><br>
                <p class="text-welcome-banner h4">Welcome to the official Anime blog.</p>
            </div>
        </div>
    </section>
    <section class="our-blog-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="item col-lg-12">
                            <div class="big-item set-poster" style="background-image: url(poster_1.jpg);">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_2.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_3.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-12">
                            <div class="big-item set-poster" style="background-image: url(poster_1.jpg);">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_2.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_3.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_2.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_3.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-12">
                            <div class="big-item set-poster" style="background-image: url(poster_1.jpg);">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_2.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6" style="background-image: url(poster_3.jpg);">
                            <div class="small-item set-poster">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-12">
                            <div class="big-item set-poster" style="background-image: url(poster_1.jpg);">
                                <div class="text-poster text-center">
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i>dd mm yy</p>
                                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>

    <%- include('../partials/footer.ejs') %>
    </body>
</html>