<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <div class="firstWeb">
        <h2>colorlib.</h2>
        <h3>+ ANIME</h3>
    </div>
    <nav class="linkMain">
        <a href="#" class="animeText">Ani<span style="color:red">me</span></a>
        <div class="linkCenter">
            <a href="#" class="linkChild">Homepage</a>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Catetories <span class="carret"></span> </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Anime Details</a></li>
                    <li><a href="#">Anime Watching</a></s></li>
                    <li><a href="#">Blog Details</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <a href="#" class="linkChild">Our Blog</a>
            <a href="#" class="linkChild">Contacts</a>
        </div>
    </nav>
    <div class="container">
        <section id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner divImgCenter">
                <div class="carousel-item active">
                    <img src="images/1.jpg" alt="image" class="imageCenter">  
                </div>
                <div class="carousel-item">
                    <img src="images/3.jpg" alt="image" class="imageCenter">
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                <div class="textImgCenter">
                    <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                    <p>After 30 days of travel across the world...</p>
                </div>
            </div>
            
        </section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 trending">
                    <% items.forEach(function(item) { %>
                        <div class="row">
                            <h4 class="col-lg-6"><%= item.title %></h4>
                        </div>
                        <div class="row">
                            <% item.data.forEach(function(ele) { %>
                                <div class="col-lg-4 col-md-6 col-sm-6 card">
                                    <img class="card-img-top" src="url(' + <%= ele.Image%> + ')" alt="image">    
                                    <a href="#" class="card-text"><%= ele.name %></a>
                                </div>
                            <% }) %>
                        </div>
                    <% }) %>         
                </div>
                <div class="col-lg-4">
                    <div class="topViews">
                        <div class="row">
                            <h4 class="col-lg-6">TOP VIEWS</h4>
                            <div class="col-lg-6 listTopViews">
                                <a href="#" style="color: white">Day</a>
                                <a href="#">Week</a>
                                <a href="#">Month</a>
                                <a href="#">Year</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 card">
                                <img class="card-img-top" src="images/7.jpg" alt="image">    
                                <a href="#" class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                                
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 card">
                                <img class="card-img-top" src="images/8.jpg" alt="image">    
                                <a href="#" class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                                
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 card">
                                <img class="card-img-top" src="images/9.PNG" alt="image">       
                                <a href="#" class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="newComment">
                        <div class="row">
                            <h5 class="col-lg-12">NEW COMMNET</h5>
                        </div>
                        <% comments.forEach(function(comment) { %>
                            <div>
                               <h5><p><% commnent.content %></p></h5>
                            </div>
                        <% }) %> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="footer">
        <a href="#" class="animeText2">Ani<span style="color:red;">me</span></a>
        <div class="linkFooter">
            <a href="#" class="linkChild">Homepage</a>
            <a href="#" class="linkChild">Categories</a>
            <a href="#" class="linkChild">Our Blog</a>
            <a href="#" class="linkChild">Contacts</a>
        </div>
    </nav>
    

</body>
</html>